
<div class="container">
    <div class="row">       
           <div col-md-8>
                <h1>Hi,   {{currentUser.name}}</h1>
           </div>
    </div>
    
   <!-- <div class="row">
      <div  *ngFor="let obj of cats.data"  class="col-md-4 mb-5">
           
        <div class="card h-100">
                <img class="card-img-top" src={{obj.image_path}}>                
          <div class="card-body">
            <h4 class="card-title">{{obj.cat_name}}</h4>
            <p class="card-text">{{obj.cat_description}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>  
    </div>
  -->
    <!-- /.row -->
</div>
